@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to top, #009c97, #037773);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

header div a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background-color: #05c9c2;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-right: 10px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que excede el ancho máximo */
  text-overflow: ellipsis; /* Muestra puntos suspensivos para el texto que excede el ancho máximo */
}

header div a.ed {
  max-width: 30px; /* Ancho máximo para "ED" */
}

header div a.el {
  max-width: 40px; /* Ancho máximo para "EL" */
}

header div a:hover {
  background-color: #037773;
}

.container {
  position: relative;
}

.sidebar {
  background: linear-gradient(to top, #05a19c, #009c97);
  width: 152px;
  padding: 20px;
  min-height: calc(100vh - 60px); /* Ajustar la altura mínima del sidebar */
  box-sizing: border-box;
}

.sidebar_derecha {
  background: linear-gradient(to top, #05a19c, #009c97);
  width: 155px;
  padding: 20px;
  min-height: calc(100vh - 60px); /* Ajustar la altura mínima del sidebar */
  box-sizing: border-box;
}

body div {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Añadido para permitir el desplazamiento horizontal */
  max-width: 100%; /* Añadido para asegurar que el contenido no exceda el ancho máximo */
}

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed; /* Añadido para que la tabla ocupe el ancho disponible */
}

th,
td {
  padding: 6px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #05a19c;
  color: #fff;
  font-weight: bold;
}

form a {
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(to right, #05a19c, #05a19c);
  color: #fff;
  padding: 20px;
}

.footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px; /* Ajusta el margen derecho para juntar los elementos */
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-right ul li {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: #fff;
}



